*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team-wrap{
    display: flex;
    flex-wrap: wrap;
}

.cards{
    width: calc(90% / 3);
    height: 100px;
    background-color: #fff;
    text-align: center;
    margin: 10px;

}

img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    
}